@charset "utf-8";
@import url(https://use.typekit.net/efj7gzu.css);
/* CSS Document */
body {
	background-color: #1E3159;
	margin: 100px 0px 0px 0px;
}

p {
	font-family: adobe-garamond-pro, serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
}

.heading {
	font-family: trajan-pro-3, serif;
	font-weight: 600;
	font-style: normal;
	color: white;
	font-size: 2em;
	text-shadow: 3px 3px 8px #000000;
}

.h-gold {
	color: #a2863d;
	font-size: 2em;
	text-align: center;
}

.headBG {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 110px;
}

.head01 {
	position: fixed;
	top: 0;
	left: 0;
	height: 96px;
}

.foot01 {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
}

@media screen and (max-width: 992px) {
	.headBG {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 93px;
	}

	.head01 {
	position: fixed;
	top: 0;
	left: 0;
	height: 82px;
	}

	.foot01 {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 42px;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.headBG {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 55px;
	}

	.head01 {
	position: fixed;
	top: 0;
	left: 0;
	height: 48px;
	}

	.foot01 {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 25px;
		width: 100%;
	}
}
.content-centre {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#animation_container {
/*	position:absolute; */
	text-align: center;
	justify-content: center;
	align-items: center;
	margin:auto;
	left:50%;right:50%;
	top:0;bottom:0;
}
